@keyframes helper-drag-rec_w {
  0% {
    width: 210px;
  }

  54.5455% {
    width: 210px;
    animation-timing-function: cubic-bezier(0.904, 0, 0.726, 0.668);
  }

  66.6667% {
    width: 540px;
    animation-timing-function: cubic-bezier(0.214, 0.499, 0.52, 0.867);
  }

  72.7273% {
    width: 520px;
  }

  100% {
    width: 520px;
  }
}

@keyframes helper-drag-rec_h {
  0% {
    height: 100px;
  }

  54.5455% {
    height: 100px;
    animation-timing-function: cubic-bezier(0.904, 0, 0.726, 0.668);
  }

  66.6667% {
    height: 560px;
    animation-timing-function: cubic-bezier(0.214, 0.499, 0.52, 0.867);
  }

  72.7273% {
    height: 540px;
  }

  100% {
    height: 540px;
  }
}

@keyframes helper-drag-rec_mo {
  0% {
    offset-distance: 0%;
  }

  33.3333% {
    offset-distance: 0.12%;
    animation-timing-function: cubic-bezier(0.62, 0.079, 0.616, 1);
  }

  54.5455% {
    offset-distance: 64.297%;
    animation-timing-function: cubic-bezier(0.904, 0, 0.726, 0.668);
  }

  66.6667% {
    offset-distance: 98.331%;
    animation-timing-function: cubic-bezier(0.214, 0.499, 0.52, 0.867);
  }

  72.7273% {
    offset-distance: 100%;
  }

  100% {
    offset-distance: 100%;
  }
}

@keyframes helper-drag-mouse_mo {
  0% {
    offset-distance: 0%;
    animation-timing-function: cubic-bezier(0.69, 0.145, 0.37, 1);
  }

  18.1818% {
    offset-distance: 37.49%;
  }

  24.2424% {
    offset-distance: 38.651%;
  }

  33.3333% {
    offset-distance: 38.651%;
    animation-timing-function: cubic-bezier(0.62, 0.079, 0.616, 1);
  }

  54.5455% {
    offset-distance: 100%;
  }

  100% {
    offset-distance: 100%;
  }
}

@keyframes helper-drag-boomrightup_o {
  0% {
    opacity: 0;
  }

  66.6667% {
    opacity: 0;
  }

  69.697% {
    opacity: 1;
  }

  75.7576% {
    opacity: 1;
  }

  78.7879% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a0_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes a1_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes a2_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes helper-drag-boomleftup_o {
  0% {
    opacity: 0;
  }

  66.6667% {
    opacity: 0;
  }

  69.697% {
    opacity: 1;
  }

  75.7576% {
    opacity: 1;
  }

  78.7879% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a3_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes a4_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes a5_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes helper-drag-boomrightbottom_o {
  0% {
    opacity: 0;
  }

  66.6667% {
    opacity: 0;
  }

  69.697% {
    opacity: 1;
  }

  75.7576% {
    opacity: 1;
  }

  78.7879% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a6_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes a7_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes a8_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes helper-drag-boomleftbottom_o {
  0% {
    opacity: 0;
  }

  66.6667% {
    opacity: 0;
  }

  69.697% {
    opacity: 1;
  }

  75.7576% {
    opacity: 1;
  }

  78.7879% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a9_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes a10_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}

@keyframes a11_d {
  0% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
  }

  66.6667% {
    d: path('M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  72.7273% {
    d: path('M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z');
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  78.7879% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }

  100% {
    d: path('M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z');
  }
}