@keyframes helper-batch-drag-boomrightup_o {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  64% {
    opacity: 1;
  }

  72% {
    opacity: 1;
  }

  76% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a0_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes a1_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes a2_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes helper-batch-drag-boomleftup_o {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  64% {
    opacity: 1;
  }

  72% {
    opacity: 1;
  }

  76% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a3_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes a4_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes a5_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes helper-batch-drag-boomrightbottom_o {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  64% {
    opacity: 1;
  }

  72% {
    opacity: 1;
  }

  76% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a6_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes a7_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes a8_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes helper-batch-drag-boomleftbottom_o {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  64% {
    opacity: 1;
  }

  72% {
    opacity: 1;
  }

  76% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes a9_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes a10_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes a11_d {
  0% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
  }

  60% {
    d: path(
      'M1,0L3,0C3.55228,0,4,0.447715,4,1L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,1C0,0.447715,0.447715,0,1,0Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  68% {
    d: path(
      'M1,-15L3,-15C3.55228,-15,4,-14.5523,4,-14L4,3C4,3.55228,3.55228,4,3,4L1,4C0.447715,4,0,3.55228,0,3L0,-14C0,-14.5523,0.447715,-15,1,-15Z'
    );
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  76% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }

  100% {
    d: path(
      'M1,-10L3,-10C3.55228,-10,4,-9.55228,4,-9L4,-7C4,-6.44772,3.55228,-6,3,-6L1,-6C0.447715,-6,0,-6.44772,0,-7L0,-9C0,-9.55228,0.447715,-10,1,-10Z'
    );
  }
}

@keyframes helpler-dragwhole_t {
  0% {
    transform: scale(1, 1) translate(-166.5px, -140px);
  }

  60% {
    transform: scale(1, 1) translate(-166.5px, -140px);
  }

  64% {
    transform: scale(1.1, 1.1) translate(-166.5px, -140px);
  }

  68% {
    transform: scale(1, 1) translate(-166.5px, -140px);
  }

  100% {
    transform: scale(1, 1) translate(-166.5px, -140px);
  }
}

@keyframes helpler-dragwhole_mo {
  0% {
    offset-distance: 0%;
  }

  20% {
    offset-distance: 0%;
  }

  28% {
    offset-distance: 0%;
  }

  40% {
    offset-distance: 0%;
    animation-timing-function: cubic-bezier(0.69, 0.145, 0.37, 1);
  }

  68% {
    offset-distance: 100%;
  }

  100% {
    offset-distance: 100%;
  }
}

@keyframes helper-batch-drag-mouse_mo {
  0% {
    offset-distance: 0%;
    animation-timing-function: cubic-bezier(
      0.766821,
      0.127231,
      0.642631,
      0.749003
    );
  }

  20% {
    offset-distance: 39.885%;
    animation-timing-function: cubic-bezier(0.232064, 0.618697, 0.545352, 1);
  }

  28% {
    offset-distance: 41.847%;
  }

  40% {
    offset-distance: 41.847%;
    animation-timing-function: cubic-bezier(0.69, 0.145, 0.37, 1);
  }

  68% {
    offset-distance: 100%;
  }

  100% {
    offset-distance: 100%;
  }
}
