.flex {
  display: flex;
}

.flex-no-warp {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

.flex-shrink {
  flex-shrink: 0;
}

.align-items-center {
  align-items: center;
}

.width-full {
  width: 100%;
}

.width-400 {
  width: 400px;
}

.height-100 {
  height: 100px;
}

.height-full {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-align-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-0-16 {
  margin: 0 16px;
}

.position-relative {
  position: relative;
}
